
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td ardrone
      %td.links= link_to 'Code', '/documentation/examples/ardrone/rb/ardrone'
      %td.links
    %tr
      %td ardrone_animate
      %td.links= link_to 'Code', '/documentation/examples/ardrone/rb/ardrone_animate'
      %td.links
    %tr
      %td ardrone_autoreset
      %td.links= link_to 'Code', '/documentation/examples/ardrone/rb/ardrone_autoreset'
      %td.links
    %tr
      %td ardrone_nav
      %td.links= link_to 'Code', '/documentation/examples/ardrone/rb/ardrone_nav'
      %td.links
    %tr
      %td ardrone_ps3
      %td.links= link_to 'Code', '/documentation/examples/ardrone/rb/ardrone_ps3'
      %td.links
    %tr
      %td ardrone_video
      %td.links= link_to 'Code', '/documentation/examples/ardrone/rb/ardrone_video'
      %td.links
