
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td analog_sensor
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/analog_sensor'
      %td.links
    %tr
      %td blink_led
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/blink_led'
      %td.links
    %tr
      %td blink_led_with_toggle
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/blink_led_with_toggle'
      %td.links
    %tr
      %td button_and_led
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/button_and_led'
      %td.links
    %tr
      %td dc_motor_speed
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/dc_motor_speed'
      %td.links
    %tr
      %td dc_motor_speed_h-bridge_2_pins
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/dc_motor_speed_h-bridge_2_pins'
      %td.links
    %tr
      %td dc_motor_switch
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/dc_motor_switch'
      %td.links
    %tr
      %td dc_motor_switch_h-bridge_2_pins
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/dc_motor_switch_h-bridge_2_pins'
      %td.links
    %tr
      %td led_brightness
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/led_brightness'
      %td.links
    %tr
      %td led_brightness_with_analog_input
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/led_brightness_with_analog_input'
      %td.links
    %tr
      %td led_with_button_toggle
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/led_with_button_toggle'
      %td.links
    %tr
      %td maxbotix
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/maxbotix'
      %td.links
    %tr
      %td motor
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/motor'
      %td.links
    %tr
      %td motor_speed_with_analog_input
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/motor_speed_with_analog_input'
      %td.links
    %tr
      %td servo
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/servo'
      %td.links
    %tr
      %td wiichuck
      %td.links= link_to 'Code', '/documentation/examples/arduino/rb/wiichuck'
      %td.links
