
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td ardrone
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/ardrone'
      %td.links
    %tr
      %td ardrone_multi
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/ardrone_multi'
      %td.links
    %tr
      %td ardrone_nav
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/ardrone_nav'
      %td.links
    %tr
      %td ardrone_nav_video
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/ardrone_nav_video'
      %td.links
    %tr
      %td ardrone_nav_video_wii
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/ardrone_nav_video_wii'
      %td.links
    %tr
      %td ardrone_nav_wiiclassic
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/ardrone_nav_wiiclassic'
      %td.links
    %tr
      %td ardrone_video
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/ardrone_video'
      %td.links
    %tr
      %td ardrone_wiiclassic
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/ardrone_wiiclassic'
      %td.links
    %tr
      %td christmas_roomba
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/christmas_roomba'
      %td.links
    %tr
      %td conway_sphero
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/conway_sphero'
      %td.links
    %tr
      %td firmata
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/firmata'
      %td.links
    %tr
      %td firmata_button
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/firmata_button'
      %td.links
    %tr
      %td hello
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/hello'
      %td.links
    %tr
      %td hello_api
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/hello_api'
      %td.links
    %tr
      %td hello_api_multiple
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/hello_api_multiple'
      %td.links
    %tr
      %td hello_messages
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/hello_messages'
      %td.links
    %tr
      %td hello_modular
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/hello_modular'
      %td.links
    %tr
      %td hello_multiple
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/hello_multiple'
      %td.links
    %tr
      %td notifications
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/notifications'
      %td.links
    %tr
      %td roomba
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/roomba'
      %td.links
    %tr
      %td roomba_wiichuck
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/roomba_wiichuck'
      %td.links
    %tr
      %td sphero
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/sphero'
      %td.links
    %tr
      %td sphero_color
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/sphero_color'
      %td.links
    %tr
      %td sphero_color_wiichuck
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/sphero_color_wiichuck'
      %td.links
    %tr
      %td sphero_cycle
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/sphero_cycle'
      %td.links
    %tr
      %td sphero_firmata
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/sphero_firmata'
      %td.links
    %tr
      %td sphero_messages
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/sphero_messages'
      %td.links
    %tr
      %td sphero_multiple
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/sphero_multiple'
      %td.links
    %tr
      %td sphero_pebble
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/sphero_pebble'
      %td.links
    %tr
      %td sphero_wiichuck
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/sphero_wiichuck'
      %td.links
    %tr
      %td wiichuck
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/wiichuck'
      %td.links
    %tr
      %td wiiclassic
      %td.links= link_to 'Code', '/documentation/examples/artoo/rb/wiiclassic'
      %td.links
