
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td crazy_hop
      %td.links= link_to 'Code', '/documentation/examples/crazyflie/rb/crazy_hop'
      %td.links
    %tr
      %td crazy_hover
      %td.links= link_to 'Code', '/documentation/examples/crazyflie/rb/crazy_hover'
      %td.links
    %tr
      %td crazy_joystick
      %td.links= link_to 'Code', '/documentation/examples/crazyflie/rb/crazy_joystick'
      %td.links
    %tr
      %td crazy_leapmotion
      %td.links= link_to 'Code', '/documentation/examples/crazyflie/rb/crazy_leapmotion'
      %td.links
    %tr
      %td crazy_nav
      %td.links= link_to 'Code', '/documentation/examples/crazyflie/rb/crazy_nav'
      %td.links
    %tr
      %td crazy_pebble
      %td.links= link_to 'Code', '/documentation/examples/crazyflie/rb/crazy_pebble'
      %td.links
