
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/digispark/rb/blink'
      %td.links
    %tr
      %td button_and_led
      %td.links= link_to 'Code', '/documentation/examples/digispark/rb/button_and_led'
      %td.links
    %tr
      %td dc_motor
      %td.links= link_to 'Code', '/documentation/examples/digispark/rb/dc_motor'
      %td.links
    %tr
      %td maxbotix
      %td.links= link_to 'Code', '/documentation/examples/digispark/rb/maxbotix'
      %td.links
    %tr
      %td rgb_shield
      %td.links= link_to 'Code', '/documentation/examples/digispark/rb/rgb_shield'
      %td.links
    %tr
      %td wiichuck
      %td.links= link_to 'Code', '/documentation/examples/digispark/rb/wiichuck'
      %td.links
