
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td controller
      %td.links= link_to 'Code', '/documentation/examples/joystick/rb/controller'
      %td.links
    %tr
      %td ps3_controller
      %td.links= link_to 'Code', '/documentation/examples/joystick/rb/ps3_controller'
      %td.links
    %tr
      %td xbox_360_controller
      %td.links= link_to 'Code', '/documentation/examples/joystick/rb/xbox_360_controller'
      %td.links
    %tr
      %td xbox_360_osx
      %td.links= link_to 'Code', '/documentation/examples/joystick/rb/xbox_360_osx'
      %td.links
