
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td ardrone_face_tracking
      %td.links= link_to 'Code', '/documentation/examples/opencv/rb/ardrone_face_tracking'
      %td.links
    %tr
      %td ardrone_tracking
      %td.links= link_to 'Code', '/documentation/examples/opencv/rb/ardrone_tracking'
      %td.links
    %tr
      %td ball_tracking
      %td.links= link_to 'Code', '/documentation/examples/opencv/rb/ball_tracking'
      %td.links
    %tr
      %td capture
      %td.links= link_to 'Code', '/documentation/examples/opencv/rb/capture'
      %td.links
    %tr
      %td face_detect
      %td.links= link_to 'Code', '/documentation/examples/opencv/rb/face_detect'
      %td.links
