
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td blink_led
      %td.links= link_to 'Code', '/documentation/examples/raspi/rb/blink_led'
      %td.links
    %tr
      %td blink_led_with_toggle
      %td.links= link_to 'Code', '/documentation/examples/raspi/rb/blink_led_with_toggle'
      %td.links
    %tr
      %td button_and_led
      %td.links= link_to 'Code', '/documentation/examples/raspi/rb/button_and_led'
      %td.links
    %tr
      %td led_brightness
      %td.links= link_to 'Code', '/documentation/examples/raspi/rb/led_brightness'
      %td.links
    %tr
      %td wiichuck
      %td.links= link_to 'Code', '/documentation/examples/raspi/rb/wiichuck'
      %td.links
