
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td sphero
      %td.links= link_to 'Code', '/documentation/examples/sphero/rb/sphero'
      %td.links
    %tr
      %td sphero2
      %td.links= link_to 'Code', '/documentation/examples/sphero/rb/sphero2'
      %td.links
    %tr
      %td sphero_color
      %td.links= link_to 'Code', '/documentation/examples/sphero/rb/sphero_color'
      %td.links
    %tr
      %td sphero_cycle
      %td.links= link_to 'Code', '/documentation/examples/sphero/rb/sphero_cycle'
      %td.links
    %tr
      %td sphero_messages
      %td.links= link_to 'Code', '/documentation/examples/sphero/rb/sphero_messages'
      %td.links
    %tr
      %td sphero_multiple
      %td.links= link_to 'Code', '/documentation/examples/sphero/rb/sphero_multiple'
      %td.links
    %tr
      %td sphero_pebble
      %td.links= link_to 'Code', '/documentation/examples/sphero/rb/sphero_pebble'
      %td.links
    %tr
      %td sphero_pebble_accelerometer
      %td.links= link_to 'Code', '/documentation/examples/sphero/rb/sphero_pebble_accelerometer'
      %td.links
