---
layout: documentation
page_title_show: true
title: "Artoo Example - xbox_360_osx"
page_title: "Example: xbox_360_osx"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo-joystick/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(15) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::ruby
        require 'artoo'

        connection :joystick, :adaptor => :joystick
        device :controller, :driver => :xbox360, :connection => :joystick, :interval => 0.1

        work do
          on controller, :joystick_0 => proc { |*value|
            puts "joystick 0 - x:\#{value[1][:x]} y:\#{value[1][:y]}"
          }
          on controller, :joystick_1 => proc { |*value|
            puts "joystick 1 - x:\#{value[1][:x]} y:\#{value[1][:y]}"
          }
          on controller, :trigger_lt => proc { |*value|
            puts "left trigger: \#{value[1]}"
          }
          on controller, :trigger_rt => proc { |*value|
            puts "right trigger: \#{value[1]}"
          }
          on controller, :button_a => proc { |*value|
            puts "ayyyy!"
          }
          on controller, :button_b => proc { |*value|
            puts "bee!"
          }
          on controller, :button_x => proc { |*value|
            puts "exxx!"
          }
          on controller, :button_y => proc { |*value|
            puts "why!"
          }
          on controller, :button_rb => proc { |*value|
            puts "Right Button down"
          }
          on controller, :button_up_rb => proc { |*value|
            puts "Right Button up"
          }
        end

