- wrap_layout :layout do
  = partial "layouts/contents-blog"
  .main.blog{:role => "main"}
    .articles
      .article
        - if is_blog_article?
          = partial "blog/header", {locals: { article: current_article } }
          = yield
        - else 
          = yield
    .categories
      = yield_content :tags
    .network
      = yield_content :network
