- wrap_layout :layout do
  .main.blog{:role => "main"}
    .articles
      .article
        - if is_blog_article?
          = partial "blog/header", {locals: { article: current_article } }
          = yield
        - else 
          = yield
    .categories
      %h4 Tags
      = partial "hybridpages/partials/widgets/blog-tags"
    .network
      %h4 Network
      = partial "hybridpages/partials/widgets/blog-network"
