!!!
%html
  %head
    = partial "/hybridpages/partials/layouts/head"
  %body
    .app
      .w
        %header.app-header{role: "banner"}
          .display
            = partial "/hybridpages/partials/layouts/app-logo"
          %span.menu
            = partial "/hybridpages/partials/layouts/menu"

      - if current_page.data.hero == true
        = partial "/hybridpages/partials/widgets/hero"

      - if current_page.data.social == true
        = partial "/hybridpages/partials/widgets/social"
      
      - if current_page.data.page_title_show == true
        = partial "/hybridpages/partials/widgets/page_title"      
      
      .container
        = yield
        
      - if current_page.data.catcher == true
        = partial "/hybridpages/partials/widgets/catcher" 

    %footer.app-footer
      .w
        .copyright
          &copy; Copyright 2012-2013
          %a{:href => "http://hybridgroup.com"} The Hybrid Group.
    
    = partial "/hybridpages/partials/widgets/google-analytics"
    
