---
title: Artoo
author: The Hybrid Group
description: artoo is a micro-framework for robotics
---

%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => data.page.description, :name => "description"}
    %meta{:content => data.page.author, :name => "author"}
    %title= data.page.title 
    %link(rel="stylesheet" href="stylesheets/style.css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Russo+One")
  %body
    .container
      %header
        %span.logo
          %h1
            %a#logo{:href => '/'} artoo
        %span.subtitle Ruby on robots
        %span.menu
          = link_to "About", "", (menu_item("about.html"))
          = link_to "Docs", "", (menu_item("documentation.html"))
          = link_to "Hardware", "", (menu_item("supported_hardware.html"))
          = link_to "Examples", "", (menu_item("examples.html"))
      = yield
      .footer
        &copy; Copyright 2012-2013
        %a{:href => "http://hybridgroup.com"} The Hybrid Group.
        See LICENSE for details.
