---
title: Artoo
author: The Hybrid Group
description: artoo is a micro-framework for robotics
---

%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => data.page.description, :name => "description"}
    %meta{:content => data.page.author, :name => "author"}
    %title= data.page.title 
    %link(rel="stylesheet" href="stylesheets/style.css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Russo+One")
  %body
    .container
      %header
        %h1 artoo
        %span.social
          %a.twitter.button{:href => "https://twitter.com/artooio"} Twitter
          %a.github.button{:href => "https://github.com/hybridgroup/artoo"} Github
      = yield
      = partial "supported_hardware"
      = partial "documentation"
      = partial "examples"
      = partial "videos"
      .footer
        &copy; Copyright 2012-2013 [The Hybrid Group](http://hybridgroup.com). See LICENSE for details.
