---
page_title_show: true
title: Artoo - Makey Button Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Makey Button
page_subtitle_docs: <a href='https://github.com/hybridgroup/artoo-gpio' class='repository'>Repository</a>
layout: documentation
subnav_driver: true
subnav_circuit_driver: true
active_menu_docs: true
subnavjs: true

arduino_platform: true
beaglebone_platform: true
digispark_platform: true
raspberry_platform: true
spark_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#gpio li:nth-child(5)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  = image_tag "/images/devices/makey-button.jpg", class: "display"
  .info_intro
    %p Inspired by the awesome MakeyMakey (http://makeymakey.com), this GPIO driver allows you to connect a 10 MOhm resistor to a digital pin on your Arduino or Raspberry Pi to control your robots with bananas, clay, or drawable circuitry.
  .clear
  
%section.how_to#HowToConnect
  %h2 How To Connect
  %h3 For Arduino:
  :markdown
        :::ruby
        require 'artoo'
        connection :arduino, :adaptor => :firmata, :port => '127.0.0.1:8023'
        device :button, :driver => :makey_button, :pin => 2

%section.how-to#HowToUse
  %h2 How To Use
  :markdown
        :::ruby
        require 'artoo'

        connection :arduino, adaptor: :firmata, port: '127.0.0.1:8023'
        device :led, driver: :led, pin: 13
        device :button, driver: :makey_button, pin: 2

        work do
          puts "Press the button connected on pin \#{ button.pin }..."

          on button, :push    => proc { led.on }
          on button, :release => proc { led.off }
        end

%section.public-methods
  .commands-api#Commands
    = partial "/documentation/drivers/partials/gpio/commands_makey_button"
  .commands-api#Events
    = partial "/documentation/drivers/partials/gpio/events_makey_button"
  

%section.circuit#Circuit
  %h2 Circuit
  .description-circuit
    %p  
  .image-circuit
    %img{:src => "/documentation/drivers/breadboards/gpio/makey_button_bb.png", :alt => ""}/ 
  .clear 


%section.compatability.hardware#Compatability
  %h2 Compatibility
  =# TODO: Update platform list at the top of the page.
  .devices
    = partial "documentation/partials/devices_platforms"
