---
page_title_show: true
title: Artoo - XBox360 Controller Driver
author: The Hybrid Group
page_title: Drivers
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: XBox360 Controller
page_subtitle_docs: <a href='https://github.com/hybridgroup/artoo-joystick' class='repository'>Repository</a>
layout: documentation
subnav_driver: true
active_menu_docs: true
subnavjs: true

joystick_platform: true
---
-content_for :js_accordeon do
  :javascript
    $("#driver-panel").addClass("active-panel");
    $("#joystick li:nth-child(3)").addClass("active-link");
    $(".accordion-docs dt:nth-child(9) a:nth-child(2) img").addClass("rotate");

%section.intro
  =image_tag "/images/devices/xbox360.jpg", class: "display"
  .info_intro
    %p Allows user to interact with Artoo devices using a XBox360 game controller.
  .clear
  
%section.how_to#HowToConnect
  %h2 How To Connect
  :markdown
        :::ruby
        require 'artoo'
        connection :joystick, :adaptor => :joystick
        device :controller, :driver => :xbox360, :connection => :joystick, :interval => 0.1

%section.how-to#HowToUse
  %h2 How To Use
  %h3 How to use events and call them on your drivers
  %p Pretty simple, when the connection and the driver have been setup (as explained above) you can call events on them as follows:
  :markdown
        :::ruby
        on controller, :button_a => proc { |*value| puts "ayyyy!" }
  %h3 Example receiving button events from XBox360 controller joystick.
  :markdown
        :::ruby
        require 'artoo'

        connection :joystick, :adaptor => :joystick
        device :controller, :driver => :xbox360, :connection => :joystick, :interval => 0.1

        work do
          on controller, :joystick_0 => proc { |*value|
            puts "joystick 0 - x:\#{value[1][:x]} y:\#{value[1][:y]}"
          }
          on controller, :joystick_1 => proc { |*value|
            puts "joystick 1 - x:\#{value[1][:x]} y:\#{value[1][:y]}"
          }
          on controller, :button_a => proc { |*value|
            puts "ayyyy!"
          }
          on controller, :button_b => proc { |*value|
            puts "bee!"
          }
          on controller, :button_x => proc { |*value|
            puts "exxx!"
          }
          on controller, :button_y => proc { |*value|
            puts "why!"
          }
        end

%section.public-methods
  .commands-api#Events
    = partial "/documentation/drivers/partials/joystick/events_xbox360"

%section.compatability.hardware#Compatability
  %h2 Compatibility
  .devices
    =# TODO: Update platform list at the top of the page.
    = partial "documentation/partials/devices_platforms"
