---
title: Placeholder
author: The Hybrid Group
layout: page
---

%h1 Placeholder

%ul.table-of-contents
  %p.title Table of Contents
  %ol
    %li= link_to "Introduction", "#"
    %li= link_to "Drivers", "#"
    %ol
      %li= link_to "Buttons"        , "../drivers/button"
      %li= link_to "Led"            , "../drivers/led"
      %li= link_to "Analog Sensors" , "../drivers/analog_sensor"
      %li= link_to "Motor"          , "../drivers/motor"
      %li= link_to "Servo"          , "../drivers/servo"

:markdown
  # Introduction

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
  egestas non turpis sit amet tempus. Suspendisse magna neque, varius
  non ultricies porttitor, aliquam sit amet mauris. Pellentesque
  molestie laoreet egestas. Phasellus luctus commodo dui fringilla
  vestibulum. Suspendisse potenti. Praesent sit amet sollicitudin
  nisi. Duis commodo malesuada elit. Mauris lorem mauris, egestas a
  ligula vitae, semper tincidunt leo. Sed viverra felis quis diam
  hendrerit, at ultrices dui mattis. Nunc vel elit sit amet lectus
  viverra convallis. Sed varius euismod urna ut malesuada. Praesent
  congue, quam eu commodo tempor, justo quam semper justo, ac gravida
  felis nisl eu turpis. Sed gravida ornare nisi id commodo.

  # Drivers

  ## Buttons

  Uestibulum. Suspendisse potenti. Praesent sit amet sollicitudin
  nisi. Duis commodo malesuada elit. Mauris lorem mauris, egestas a
  ligula vitae, semper tincidunt leo. Sed viverra felis quis diam
  hendrerit, at ultrices dui mattis. Nunc vel elit sit amet lectus
  viverra convallis. Sed varius euismod urna ut malesuada. Praesent
  congue, quam eu commodo tempor, justo quam semper justo, ac gravida
  felis nisl eu turpis. Sed gravida ornare nisi id commodo.
