---
page_title_show: true
title: Digispark with Artoo
author: The Hybrid Group
page_title: Platforms
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Digispark
page_subtitle_docs: "<a href='https://github.com/hybridgroup/artoo-digispark' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/artoo-digispark/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true

analog_sensor_driver: true
continuous_servo_driver: true
button_driver: true
led_driver: true
maxbotix_driver: true
motor_driver: true
servo_driver: true
blinkm_driver: true
hmc6352_compass_driver: true
wiichuck_driver: true
wiiclassic_driver: true
makey_driver: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(5)").addClass("active-link");
    $(".accordion-docs dt:nth-child(7) a:nth-child(2) img").addClass("rotate");
  
%section.intro
  = image_tag "/images/devices/digispark.jpg", class: "display"
  .info_intro
    %p The Digispark is an Attiny85 based microcontroller development board similar to the Arduino line, only cheaper, smaller, and a bit less powerful. With a whole host of shields to extend its functionality and the ability to use the familiar Arduino IDE the Digispark is a great way to jump into electronics, or perfect for when an Arduino is too big or too much.
    %p
      For more info about the Digispark platform click
      = succeed "." do
        = link_to "here", "http://digistump.com/category/1", target: :blank
  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p Installing artoo with digispark support is pretty easy using ruby gems.
  :markdown
        :::bash
        gem install artoo-digispark

%section.how-to#HowToUse
  %h2 How To Use
  %p This small program lets you toggle an LED on and off.
  :markdown
        :::ruby
        require 'artoo'

        connection :digispark, :adaptor => :littlewire, :vendor => 0x1781, :product => 0x0c9f
        device :board, :driver => :device_info
        device :led, :driver => :led, :pin => 1

        work do
          puts "Firmware name: \#{board.firmware_name}"
          puts "Firmware version: \#{board.version}"

          every 1.second do
            led.toggle
          end
        end

%section.how-to#HowToConnect
  %h2 How To Connect
  %p
    It is very easy to setup and connect to the Digispark using Artoo CLI commands.
  %p
    Connecting to the Digispark
    =link_to "(Kickstarter Campaign)","http://www.kickstarter.com/projects/digistump/digispark-the-tiny-arduino-enabled-usb-dev-board"
    ATTiny-based USB development board is very easy using Artoo, first we need to install the littlewire
    =link_to "(http://littlewire.cc)", "http://littlewire.cc/"
    protocol to communicate with the digispark, Artoo includes CLI commands to make the process of uploading littlewire to the
    digispark as simple as possible, after littlewire has been uploaded you can connect and communicate using Artoo.

  %h3 OSX
  %p The main steps are:
  %ul
    %li Install the artoo-digispark gem
    %li Upload the Littlewire protocol to the digispark
    %li Connect to the device via Artoo

  %h4 DO NOT plug in the Digispark to your computer's USB port until prompted.

  %p Install the artoo-digispark gem:

  :markdown
        :::bash
        $ gem install artoo-digispark

  %p
    After installing the artoo-digispark gem run the following command to
    upload littlewire to the digispark, plug it to a USB port when
    prompted:

  :markdown
        :::bash
        $ artoo littlewire upload

  %p
    Once plugged in, use the `artoo scan usb` command
    to verify your connection info:

  :markdown
        :::bash
        $ artoo scan usb

  %p
    Now use the `ID` info returned to find the `product` and `vendor` ID's
    required to establish a connection with the Digispark in your Artoo code.

  %p That is it, you are set to start running Artoo digispark examples.

  %h3 Ubuntu

  %p The main steps are:
  %ul
    %li Install the artoo-digispark gem
    %li
      Add a udev rule to allow access to the Digispark device (Do not worry
      about this, the `artoo littlewire upload` command does it for you if none is detected)
    %li Upload the Littlewire protocol to the digispark
    %li Connect to the device via Artoo

  %h4 DO NOT plug in the Digispark to your computer's USB port until prompted.

  %p Install the artoo-digispark gem:

  :markdown
        :::bash
        $ gem install artoo-digispark

  %p
    After installing the artoo-digispark gem run the following command to
    upload littlewire to the digispark, do NOT plug it to a USB port until
    prompted, you might be asked to enter your sudo password, since
    uploading littlewire to the digispark requires some new udev rules, you
    can check and review them in /etc/udev/rules.d/49-micronucleus.rules
    after running the `artoo littlewire upload` command):

  :markdown
        :::bash
        $ artoo littlewire upload

  %p
    Once plugged in, use the `artoo scan usb` command
    to verify your connection info:

  :markdown
        :::bash
        $ artoo scan usb

  %p
    Now use the `ID` info returned to find the `product` and `vendor` ID's
    required to establish a connection with the Digispark in your Artoo code.

  %p That is it, you are set to start running Artoo digispark examples.

  %p
    Thanks to [@bluebie]
    =link_to "https://github.com/Bluebie", "https://github.com/Bluebie"
    for the help with udev rules used when uploading littlewire to the digispark!
    =link_to "(https://github.com/Bluebie/micronucleus-t85/wiki/Ubuntu-Linux)", "https://github.com/Bluebie/micronucleus-t85/wiki/Ubuntu-Linux"

  %h3 Windows

  %p We are currently working with the Celluloid team to add Windows support. Please check back soon!

%section.drivers#Drivers
  %h2 Drivers
  %p
    Thanks to
    %b artoo
    and
    %b ruby
    it is possible to interact with several I/O hardware devices and interfaces connected to the digispark
    using a set of already defined and easy to use drivers, all of this thanks to the artoo architecture,
    in conjuction with artoo-digispark adaptor (using the littlewire communication protocol),
    which makes it even possible to swap the entire platform for something else like arduino,
    and keep using the same code you just wrote for digispark, this just by swapping a couple
    of lines in your program.
  %p Available drivers for the digispark platform are listed below, the drivers contain detailed documentation and examples of what kind physical computing (using artoo and ruby) you could be doing:

  .hardware
    =# TODO: Update drivers list at the top of the page.
    %h2 GPIO Drivers
    .devices
      = partial "documentation/partials/devices_gpio_drivers"
    %h2 i2c Drivers
    .devices
      = partial "documentation/partials/devices_i2c_drivers"
