---
page_title_show: true
title: Joysticks with Artoo
author: The Hybrid Group
page_title: Platforms
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Joysticks
page_subtitle_docs: "<a href='https://github.com/hybridgroup/artoo-joystick' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/artoo-joystick/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true

joystick_driver: true
ps3_driver: true
xbox360_driver: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(6)").addClass("active-link");
    $(".accordion-docs dt:nth-child(7) a:nth-child(2) img").addClass("rotate");
  
%section.intro
  = image_tag "/images/devices/joystick.jpg", class: "display"
  .info_intro
    %p You can use Artoo with a PS3 game controller, an XBox360 game controller, or any other USB joystick or game controller that is compatible with Simple DirectMedia Layer (SDL).
    %p
      For more info about Simple DirectMedia Layer (SDL) go to
      = succeed "." do
        = link_to "http://www.libsdl.org/", "http://www.libsdl.org/", target: :blank
  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p Installing artoo with arduino support is pretty easy using ruby gems.
  :markdown
        :::bash
        gem install artoo-joystick

%section.how-to#HowToUse
  %h2 How To Use
  %p This small program receives joystick and button press events from an XBox 360 game controller.
  :markdown
        :::ruby
        require 'artoo'

        connection :joystick, :adaptor => :joystick
        device :joystick, :driver => :xbox360, :connection => :joystick, :interval => 0.1

        work do
          on controller, :joystick => proc { |*value|
            puts "joystick \#{value[1][:s]} x:\#{value[1][:x]} y:\#{value[1][:y]}"
          }
          on controller, :button_a => proc { |*value|
            puts "ayyyy!"
          }
          on controller, :button_b => proc { |*value|
            puts "bee!"
          }
          on controller, :button_x => proc { |*value|
            puts "exxx!"
          }
          on controller, :button_y => proc { |*value|
            puts "why!"
          }
        end

%section.how-to#HowToConnect
  %h2 How To Connect
  %p Plug your USB joystick or game controller into your USB port. If your device is supported by SDL, you are now ready.

%section.drivers#Drivers
  %h2 Drivers
  %p There are 3 driver for different joysticks, as listed below:

  .hardware
    .devices
      =# TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_joystick_drivers"