---
page_title_show: true
title: Raspberry Pi with Artoo
author: The Hybrid Group
page_title: Platforms
page_subtitle: Artoo has a extensible system for connecting to hardware devices.
page_title_docs: Raspberry Pi
page_subtitle_docs: "<a href='https://github.com/hybridgroup/artoo-raspi' class='repository'>Repository</a> <a class='issues' href='https://github.com/hybridgroup/artoo-raspi/issues'>Issues</a>"
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true

button_driver: true
led_driver: true
servo_driver: true
continuous_servo_driver: true
motor_driver: true
blinkm_driver: true
hmc6352_compass_driver: true
wiichuck_driver: true
wiiclassic_driver: true
makey_driver: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(12)").addClass("active-link");
    $(".accordion-docs dt:nth-child(7) a:nth-child(2) img").addClass("rotate");
  
%section.intro
  = image_tag "/images/devices/raspi.jpg", class: "display"
  .info_intro
    %p The Raspberry Pi is an inexpensive and popular ARM based single board computer with digital & PWM GPIO, and i2c interfaces built in.
    %p
      For more info about the Raspberry Pi platform go to
      = succeed "." do
        = link_to "http://www.raspberrypi.org/", "http://www.raspberrypi.org/", target: :blank
  .clear
  
%section.how-to#HowToInstall
  %h2 How To Install
  %p If you do not have ruby installed, you'll need to do that first.
  %p Then install the artoo-raspi gem:
  :markdown
        :::bash
        sudo gem install artoo-raspi

%section.how-to#HowToUse
  %h2 How To Usee
  %p This small program causes an LED to blink.
  :markdown
        :::ruby
        require 'artoo'

        connection :raspi, :adaptor => :raspi
        device :led, :driver => :led, :pin => 11

        work do
          every 1.second do
            led.toggle
          end
        end
        
  %p To run the examples, requires sudo access on the Raspberry Pi:
  :markdown
        :::bash
        sudo ruby examples/raspi_led.rb
  %p 
    %b Important Note:
    You need to install
    = link_to "pi-blaster", "https://github.com/sarfata/pi-blaster", target: :blank
    in the 
    %b raspberry-pi, 
    this project enables PWM in the GPIO pins for some of the drivers like LED, Motor and Servo.

%section.how-to#HowToConnect
  %h2 How To Connect
  %h3 Connecting to Raspberry Pi GPIO
  %p  This gem only works on a real Raspberry Pi. Do not bother trying on any other kind of computer it will not work. Also note you will need to connect actual circuits to the Raspberry Pi's GPIO pins.
  %h3 Enabling the Raspberry Pi i2c on raspbian
  %p You must add these two entries in your /etc/modules
  :markdown
        :::bash
        i2c-bcm2708
        i2c-dev
  %p You must also ensure that these entries are commented in your /etc/modprobe.d/raspi-blacklist.conf
  :markdown
        :::bash
        #blacklist spi-bcm2708
        #blacklist i2c-bcm2708
  %p Now restart your raspberry pi.
  %h3 Enabling PWM output on GPIO pins.
  %p You need to install and have pi-blaster running in the raspberry-pi, you can follow the instructions for pi-blaster install on our repo here:
  %a{ href:"https://github.com/hybridgroup/pi-blaster" } https://github.com/hybridgroup/pi-blaster

%section.drivers#Drivers
  %h2 Drivers
  %p All Artoo digital and PWM GPIO, and i2c drivers listed below should work with the Raspberry Pi:

  .hardware
    %h2 GPIO Drivers
    .devices
      // TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_gpio_drivers"
    %h2 i2c Drivers
    .devices
      = partial "documentation/partials/devices_i2c_drivers"
