= link_to "Docs", "", (menu_item("documentation"))
= link_to "Hardware", "", (menu_item("hardware"))
= link_to "Videos", "", (menu_item("videos"))
= link_to "Blog", "", (menu_item("blog"))
= link_to "Github", "https://github.com/hybridgroup/artoo/", class: "item"