---
layout: page
title: Examples
page_title: Examples
author: The Hybrid Group
description: Examples of using Cylon.JS with different hardware configurations
page_subtitle: How you can get started.
---

.documentation.examples
  %table
    %thead
      %th Example
      %th.links{:colspan => '2'} Links
    %tbody
      %tr
        %td Ardrone
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone'
      %tr
        %td Ardrone Multi
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_multi'
      %tr
        %td Ardrone Nav
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_nav'
      %tr
        %td Ardrone Nav Video
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_nav_video'
      %tr
        %td Ardrone Nav Video Wii
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_nav_video_wii'
      %tr
        %td Ardrone Nav Wii Classic
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_nav_wiiclassic'
      %tr
        %td Ardrone Video
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_video'
      %tr
        %td Ardrone Wii Classic
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_wiiclassic'
