---
layout: page
title: Examples
page_title: Examples
author: The Hybrid Group
description: Examples of using Cylon.JS with different hardware configurations
page_subtitle: How you can get started.
---

.documentation.examples
  %table
    %thead
      %th Example
      %th.links{:colspan => '1'} Links
    %tbody
      %tr
        %td Ardrone
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone'
      %tr
        %td Ardrone Multi
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_multi'
      %tr
        %td Ardrone Nav
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_nav'
      %tr
        %td Ardrone Nav Video
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_nav_video'
      %tr
        %td Ardrone Nav Video Wii
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_nav_video_wii'
      %tr
        %td Ardrone Nav Wii Classic
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_nav_wiiclassic'
      %tr
        %td Ardrone Video
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_video'
      %tr
        %td Ardrone Wii Classic
        %td.links= link_to 'Example', '/documentation/examples/ruby/ardrone_wiiclassic'
      %tr
        %td Christmas Roomba
        %td.links= link_to 'Example', '/documentation/examples/ruby/christmas_roomba'
      %tr
        %td Conway Sphero
        %td.links= link_to 'Example', '/documentation/examples/ruby/conway_sphero'
      %tr
        %td Conway Sphero Foreman
        %td.links= link_to 'Example', '/documentation/examples/ruby/conway_sphero_foreman'
      %tr
        %td Firmata
        %td.links= link_to 'Example', '/documentation/examples/ruby/firmata'
      %tr
        %td Firmata Button
        %td.links= link_to 'Example', '/documentation/examples/ruby/firmata_button'
      %tr
        %td Hello
        %td.links= link_to 'Example', '/documentation/examples/ruby/hello'
      %tr
        %td Hello API
        %td.links= link_to 'Example', '/documentation/examples/ruby/hello_api'
      %tr
        %td Hello API Multiple
        %td.links= link_to 'Example', '/documentation/examples/ruby/hello_api_multiple'
      %tr
        %td Hello Messages
        %td.links= link_to 'Example', '/documentation/examples/ruby/hello_messages'
      %tr
        %td Hello Modular
        %td.links= link_to 'Example', '/documentation/examples/ruby/hello_modular'
      %tr
        %td Hello Multiple
        %td.links= link_to 'Example', '/documentation/examples/ruby/hello_multiple'
      %tr
        %td Notifications
        %td.links= link_to 'Example', '/documentation/examples/ruby/notifications'
      %tr
        %td Roomba
        %td.links= link_to 'Example', '/documentation/examples/ruby/roomba'
      %tr
        %td Roomba Wiichuck
        %td.links= link_to 'Example', '/documentation/examples/ruby/roomba_wiichuck'
      %tr
        %td Sphero
        %td.links= link_to 'Example', '/documentation/examples/ruby/sphero'
      %tr
        %td Sphero Color
        %td.links= link_to 'Example', '/documentation/examples/ruby/sphero_color'
      %tr
        %td Sphero Color Wiichuck
        %td.links= link_to 'Example', '/documentation/examples/ruby/sphero_color_wiichuck'
      %tr
        %td Sphero Cycle
        %td.links= link_to 'Example', '/documentation/examples/ruby/sphero_cycle'
      %tr
        %td Sphero Firmata
        %td.links= link_to 'Example', '/documentation/examples/ruby/sphero_firmata'
      %tr
        %td Sphero Messages
        %td.links= link_to 'Example', '/documentation/examples/ruby/sphero_messages'
      %tr
        %td Sphero Multiple
        %td.links= link_to 'Example', '/documentation/examples/ruby/sphero_multiple'
      %tr
        %td Sphero Wiichuck
        %td.links= link_to 'Example', '/documentation/examples/ruby/sphero_wiichuck'
      %tr
        %td Wiichuck
        %td.links= link_to 'Example', '/documentation/examples/ruby/wiichuck'
      %tr
        %td Wiiclassic
        %td.links= link_to 'Example', '/documentation/examples/ruby/wiiclassic'
