---
layout: documentation
page_title_show: true
title: "Artoo Example - hello_messages"
page_title: "Example: hello_messages"
author: The Hybrid Group
description: A Artoo code example
page_subtitle: "<a href='https://github.com/hybridgroup/artoo/tree/master/examples' target='_blank'>View In Repo</a>"
active_menu_docs: true
---

-content_for :js_accordeon do
  :javascript
    $("#example-panel").addClass("active-panel");
    $(".accordion-docs dt:nth-child(15) a:nth-child(2) img").addClass("rotate");

.example
  :markdown
        :::ruby
        require 'artoo/robot'

        class GreeterRobot < Artoo::Robot
          work do
            every(5.seconds) do
              say 'Hola'
            end
          end

          def say(greeting)
            friend_name = "Number \#{rand(5)}"
            puts "Saying '\#{greeting}' to \#{friend_name}"
            Artoo::Master.robot(friend_name).hello(greeting, current_instance)
          end
        end

        class MessageRobot < Artoo::Robot
          def hello(greeting, sender)
            puts "'\#{sender.name}' said '\#{greeting}' to \#{name}"
          end
        end

        robots = []
        5.times do |i|
          robots << MessageRobot.new(:name => "Number \#{i}")
        end

        robots << GreeterRobot.new(:name => "Greeter")

        Artoo::Robot.work!(robots)

