%section.hardware
  .devices
    = partial "../partials/analog-sensor"
    = partial "../partials/button"
    = partial "../partials/led"
    = partial "../partials/maxbotix"
    = partial "../partials/motor"
    = partial "../partials/servo"
