%section.hardware
  .devices
    = partial "../partials/ardrone"
    = partial "../partials/arduino"
    = partial "../partials/digispark"
    = partial "../partials/leapmotion"
    = partial "../partials/pebble"
    = partial "../partials/raspberry-pi"
    = partial "../partials/roomba"
    = partial "../partials/sphero"


