---
layout: blog
title: Blog
author: The Hybrid Group
description: Artoo blog entries.
---

.entries
  .item
    .date
      .blue
        .month
          AUG
        .day
          26
      .red
        .year
          2013
    %h3
      This are ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .comments
      .img
        = image_tag "conversation.png"
      = link_to "9 comments", "#"
    .tags
      .img
        = image_tag "tag.png"
      = link_to "Technology", "#"
      = link_to "Robots", "#"
  .item
    .date
      .blue
        .month
          AUG
        .day
          26
      .red
        .year
          2013
    %h3
      This are ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .comments
      .img
        = image_tag "conversation.png"
      = link_to "9 comments", "#"
    .tags
      .img
        = image_tag "tag.png"
      = link_to "Technology", "#"
      = link_to "Robots", "#"
  .item
    .date
      .blue
        .month
          AUG
        .day
          26
      .red
        .year
          2013
    %h3
      This are ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .comments
      .img
        = image_tag "conversation.png"
      = link_to "9 comments", "#"
    .tags
      .img
        = image_tag "tag.png"
      = link_to "Technology", "#"
      = link_to "Robots", "#"
  .item
    .date
      .blue
        .month
          AUG
        .day
          26
      .red
        .year
          2013
    %h3
      This are ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .comments
      .img
        = image_tag "conversation.png"
      = link_to "9 comments", "#"
    .tags
      .img
        = image_tag "tag.png"
      = link_to "Technology", "#"
      = link_to "Robots", "#"
  .item
    .date
      .blue
        .month
          AUG
        .day
          26
      .red
        .year
          2013
    %h3
      This are ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .comments
      .img
        = image_tag "conversation.png"
      = link_to "9 comments", "#"
    .tags
      .img
        = image_tag "tag.png"
      = link_to "Technology", "#"
      = link_to "Robots", "#"
  .item
    .date
      .blue
        .month
          AUG
        .day
          26
      .red
        .year
          2013
    %h3
      This are ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .comments
      .img
        = image_tag "conversation.png"
      = link_to "9 comments", "#"
    .tags
      .img
        = image_tag "tag.png"
      = link_to "Technology", "#"
      = link_to "Robots", "#"

.categories
  %h4
    Categories
  %ul
    %li
      = link_to "Robots", "#"
    %li
      = link_to "Hardware", "#"
    %li
      = link_to "Future", "#"
    %li
      = link_to "Ruby", "#"
.network
  %h4
    Network
  = link_to image_tag("twitter.png"), "#"
  = link_to image_tag("facebook.png"), "#"
  = link_to image_tag("github.png"), "#"
.tweets
  %h4
    Tweets
  .tweet
    .avatar
      = link_to image_tag("twitter_avatar.png"), "#"
    .user
      %b
        Artoo
      = "@artooio"
    %p
      "Robots as Tools, toys and Teachers" really nice article about Artoo!

.alternative_footer
  .copyright
    &copy; Copyright 2012-2013
  %a{:href => "http://hybridgroup.com"} The Hybrid Group.