---
hero: true
social: true
catcher: true

title: Artoo - Ruby framework for robotics, physical computing, and the Internet of Things
author: The Hybrid Group
description: Artoo is a framework for robotics, physical computing, and the Internet of Things written in the Ruby programming language. It provides a simple, yet powerful way to create solutions that incorporate multiple, different hardware devices at the same time.
layout: home

hero_title: "We believe that it's time to bring <br> Ruby and Robots together."
hero_subtitle: "Next generation robotics framework with support for <a href='#platforms'>15 different platforms</a>"

img_character: "<img src='images/elements/artoo.png'>"

catcher_phrase: Ready to build the next big thing with Ruby?
getting_started_button: "<a href='/documentation/getting-started' class='cta'> Get Started</a>"
---


.index-content
  %h2 About
  %p Artoo is a framework for robotics, physical computing, and the Internet of Things written in the Ruby programming language.

  %p It provides a simple, yet powerful way to create solutions that incorporate multiple, different hardware devices at the same time.

  %p With Artoo, you can easily connect multiple, different hardware devices together into a single Ruby-powered robotic solution.

  %p 
    Want to use Javascript on Robots? Check out our sister project Cylon 
    = link_to "(http://cylonjs.com).", "http://cylonjs.com"

  %p 
    Want to use the Go programming language to power your robots? Check out our sister project Gobot 
    = link_to "(http://gobot.io).", "http://gobot.io"    
  
.aside.right
  = current_page.data.img_character

.clear

%h2 Meet The Code
%p Artoo’s simple code makes telling robots what to do incredibly simple and fun.
:markdown
  All you need to get started is the `artoo` gem
:markdown
      :::ruby
      require 'artoo'

%p 
  Then hook it up to your robot (in this case, a 
  =link_to "Sphero :", "http://gosphero.com"

:markdown
      :::ruby
      connection :sphero, adaptor: :sphero, port: '4560'
      device :sphero, driver: :sphero

%p And tell it what to do!
:markdown
      :::ruby
      work do
        every(3.seconds) do
          puts "Rolling..."
          sphero.roll 60, rand(360)
        end
      end

%h2#platforms Platform Support
%p 
  Artoo has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported:

  %p.important-title 
    15 Platforms

  %ul.homepage-platform
    %li
      .title
        = link_to "Ardrone", "http://ardrone2.parrot.com/", target:"_blank"  
      %a{:href => "/documentation/platforms/ardrone"} 
        %img{src: "/images/devices/ardrone.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-ardrone", target:"_blank"
    %li
      .title
        = link_to "Arduino", "http://www.arduino.cc/", target:"_blank" 
      %a{:href => "/documentation/platforms/arduino"} 
        %img{src: "/images/devices/arduino.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-arduino", target:"_blank"
    %li
      .title
        = link_to "BeagleBone Black", "http://beagleboard.org/", target:"_blank" 
      %a{:href => "/documentation/platforms/beaglebone"} 
        %img{src: "/images/devices/beaglebone.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-beaglebone", target:"_blank"
    %li
      .title
        = link_to "Crazyflie", "http://www.bitcraze.se/", target:"_blank" 
      %a{:href => "/documentation/platforms/crazyflie"} 
        %img{src: "/images/devices/crazyflie.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-crazyflie", target:"_blank"
    %li
      .title
        = link_to "Digispark", "http://digistump.com/products/1", target:"_blank" 
      %a{:href => "/documentation/platforms/digispark"} 
        %img{src: "/images/devices/digispark.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-digispark", target:"_blank"
    %li
      .title
        = link_to "Joystick", "http://www.libsdl.org/", target:"_blank" 
      %a{:href => "/documentation/platforms/joystick"} 
        %img{src: "/images/devices/joystick.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-joystick", target:"_blank"
    %li
      .title
        = link_to "Keyboard", "http://en.wikipedia.org/wiki/Computer_keyboard", target:"_blank" 
      %a{:href => "/documentation/platforms/keyboard"} 
        %img{src: "/images/devices/keyboard.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-keyboard", target:"_blank"
    %li
      .title
        = link_to "Leap Motion", "https://www.leapmotion.com/", target:"_blank" 
      %a{:href => "/documentation/platforms/leapmotion"} 
        %img{src: "/images/devices/leap_motion.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-leapmotion", target:"_blank"
    %li
      .title
        = link_to "Neurosky", "http://store.neurosky.com/products/mindwave-mobile", target:"_blank" 
      %a{:href => "/documentation/platforms/neurosky"} 
        %img{src: "/images/devices/neurosky.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-neurosky", target:"_blank"
    %li
      .title
        = link_to "OpenCV", "http://opencv.org/", target:"_blank" 
      %a{:href => "/documentation/platforms/opencv"} 
        %img{src: "/images/devices/opencv.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-opencv", target:"_blank"
    %li
      .title
        = link_to "Pebble", "https://getpebble.com/", target:"_blank" 
      %a{:href => "/documentation/platforms/pebble"} 
        %img{src: "/images/devices/pebble.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-pebble", target:"_blank"
    %li
      .title
        = link_to "Raspberry Pi", "http://www.raspberrypi.org/", target:"_blank" 
      %a{:href => "/documentation/platforms/raspi"} 
        %img{src: "/images/devices/raspi.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-raspi", target:"_blank"
    %li
      .title
        = link_to "Roomba", "http://www.irobot.com/us/learn/Educators/Create.aspx", target:"_blank" 
      %a{:href => "/documentation/platforms/roomba"} 
        %img{src: "/images/devices/roomba.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-roomba", target:"_blank"
    %li
      .title
        = link_to "Spark", "http://spark.io", target:"_blank" 
      %a{:href => "/documentation/platforms/spark"} 
        %img{src: "/images/devices/spark.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-spark", target:"_blank"
    %li
      .title
        = link_to "Sphero", "http://www.gosphero.com/", target:"_blank" 
      %a{:href => "/documentation/platforms/sphero"} 
        %img{src: "/images/devices/sphero.jpg", style: "width: 90%"}  
      .repo
        = link_to "repo", "https://github.com/hybridgroup/artoo-sphero", target:"_blank"
  .clear

%p More platforms are coming soon!

%p Artoo also has support for devices that can work across multiple hardware platforms.

%p.important-title
  8
  = link_to "GPIO", "https://en.wikipedia.org/wiki/General_Purpose_Input/Output" , target:"_blank" 
  drivers

%ul.homepage-platform
  %li
    .title
      = link_to "Analog Sensor", "/documentation/drivers/analog-sensor"
    %a{:href => "/documentation/drivers/analog-sensor"} 
      %img{src: "/images/devices/analog-sensor.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-gpio", target:"_blank"
  %li
    .title
      = link_to "Button", "/documentation/drivers/button" 
    %a{:href => "/documentation/drivers/button"} 
      %img{src: "/images/devices/button.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-gpio", target:"_blank"
  %li
    .title
      = link_to "Continuous Servo", "/documentation/drivers/continuous_servo"
    %a{:href => "/documentation/drivers/continuous_servo"} 
      %img{src: "/images/devices/continuous_servo.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-gpio", target:"_blank"   
  %li
    .title
      = link_to "LED", "/documentation/drivers/led"
    %a{:href => "/documentation/drivers/led"} 
      %img{src: "/images/devices/LED.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-gpio", target:"_blank"  
  %li
    .title
      = link_to "MakeyButton", "/documentation/drivers/makey-button"
    %a{:href => "/documentation/drivers/makey-button"} 
      %img{src: "/images/devices/makey-button.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-gpio", target:"_blank" 
  %li
    .title
      = link_to "Motor", "/documentation/drivers/motor"
    %a{:href => "/documentation/drivers/motor"} 
      %img{src: "/images/devices/motor.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-gpio", target:"_blank"   
  %li
    .title
      = link_to "Maxbotix", "/documentation/drivers/maxbotix"
    %a{:href => "/documentation/drivers/maxbotix"} 
      %img{src: "/images/devices/maxbotix.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-gpio", target:"_blank"  
  %li
    .title
      = link_to "Servo", "/documentation/drivers/servo"
    %a{:href => "/documentation/drivers/servo"} 
      %img{src: "/images/devices/servo.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-gpio", target:"_blank"   
  .clear

%p.important-title 
  4
  = link_to "I2C", "https://en.wikipedia.org/wiki/I%C2%B2C", target:"_blank" 
  drivers

%ul.homepage-platform 
  %li  
    .title
      = link_to "BlinkM", "/documentation/drivers/blinkm"
    %a{:href => "/documentation/drivers/blinkm"} 
      %img{src: "/images/devices/blinkm.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-i2c", target:"_blank"

  %li
    .title
      = link_to "HMC6352", "/documentation/drivers/hmc6352-compass"
    %a{:href => "/documentation/drivers/hmc6352-compass"} 
      %img{src: "/images/devices/hmc6352-compass.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-i2c", target:"_blank"   
  %li
    .title
      = link_to "Wii Classic", "/documentation/drivers/wiiclassic"
    %a{:href => "/documentation/drivers/wiiclassic"} 
      %img{src: "/images/devices/wii-classic-controller.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-i2c", target:"_blank"   
  %li
    .title
      = link_to "Wii Nunchuk", "/documentation/drivers/wiichuck"
    %a{:href => "/documentation/drivers/wiichuck"} 
      %img{src: "/images/devices/wiichuck.jpg", style: "width: 90%"}  
    .repo
      = link_to "repo", "https://github.com/hybridgroup/artoo-i2c", target:"_blank"  
  .clear

%p.important-title 
  See more drivers 
  = link_to "here", "/documentation/drivers"


%p More platforms are coming soon!

%h2 API
%p Artoo includes a RESTful API to query the status of any robot running within a group, including the connection and device status, and device streaming data via websockets.

:markdown
  To activate the API, use the `api` command like this:
  
:markdown
      :::ruby
      require 'artoo'

      connection :loop
      device :passthru
      api :host => '127.0.0.1', :port => '4321'

      work do
        puts "Hello from the API running at \#{api_host}:\#{api_port}..."
      end

%section.videos
  .video-index
    %h2 Artoo in Action
    %iframe{:src => "http://www.youtube.com/embed/ciSs9x_Ogls", :frameborder => "0", :allowfullscreen => "true"}

